table thead tr.baslik
{
    background-color: rgb(66, 64, 64);
    color: white;
}
table tfoot.altkisim tr.altsatir
{
    background-color: rgb(116, 112, 112);
    color: white;
    font-size: 1.2rem;
    
}
.checkbuton
{
    display: none;
}
.eklemeikonu:hover
{
    background-color: rgb(19, 223, 19);
    cursor: pointer;
}
.çöpikonu:hover
{
    background-color: red;
    cursor: pointer;
}
.çöpikonu{
    color: rgb(100, 95, 95);
    
    
}
.eklemeikonu
{
    color: rgb(87, 83, 83);
    margin-right: .5rem;
    
}
.alisverisikonu
{
    color: white;
    background-color: crimson;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 10rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    padding: .5rem;
    
}
.ödemeikonu
{
    color: white;
    background-color: crimson;
    font-size: 1rem;
    cursor: pointer;
    padding: .5rem;
}
table.tablo tbody tr:nth-child(odd)
{
    background-color: rgb(180, 171, 171);
}
table.tablo tbody tr:nth-child(even)
{
    background-color: whitesmoke;
}
.alisverisikonu:hover
{
    color: lightgreen;
}
.ödemeikonu:hover
{
    color: lightgreen;
}

